/* место для вашего кода */

/* ========== ШАПКА ========== */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 1100px;
  padding-top: 95px;
  padding-bottom: 80px;
}

.address__header {
  margin-right: 50px;
}

.address__text__header {
  width: 233px;
}

.header__menu {
  display: flex;
  padding-left: 50px;
}

.header__links-list-item_no-bullit {
  text-decoration: none;
  list-style: none;
}

.link__active {
  text-decoration: none;
  list-style: none;
}

.header__links-list {
  display: flex;
  gap: 25px;
  list-style: circle;
}

.header__link {
  font-size: 18px;
}

.header__logo {
  display: block;
  width: 148px;
}

.address {
  font-style: normal;
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  font-size: 18px;
}

.cover {
  position: relative;
  background: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: normal;
  width: 1100px;
  min-height: 757px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover__title,
.cover__description {
  position: relative;
 
}

.cover__title {
  text-transform: uppercase;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 165px;
  letter-spacing: 30%;
  z-index: 2;
}

.aligned-text {
  display: block;
  padding-left: 50px;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.cover__description-text {
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  word-spacing: 15px;
  margin-left: 50px;
}

.letter-spacing-extended {
  letter-spacing: 0.1em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.bet-button {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  width: 256px;
  min-height: 51px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 50px;
}

/* ========== ЛОТЫ ========== */

.lots {
  padding-top: 180px;
  display: grid;
  min-width: 1100px;
}

.card__title {
  font-size: 22px;
  color: #FFFFFF;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 48px;
  text-decoration: underline;
  text-transform: uppercase;
  position: relative;
}

.card-text {
  color: #FFFFFF;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
  line-height: 120%;
  position: relative;
}

.card-link {
  text-decoration: none;
}

.card__book {
  padding-top: 30px;
}

.card__picture {
  padding-top: 126px;
}

.card__film {
  padding-top: 274px;
}

.lots__card-list {
  display: flex;
  list-style: none;
  flex-direction: row;
  padding-top: 27px;
  gap: 25px;
  padding-left: 24px;
  padding-right: 24px;
  flex-wrap: wrap;
}

.lots__heading {
  font-size: 40px;
  font-weight: bold;
  padding-left: 64px;
}

.lots__card-list-item {
  min-height: 596px;
  width: 334px;
}

.card {
  height: 100%;
  position: relative;
  background-position: 50% center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}


.lots__look-more-link {
  text-decoration: underline;
  padding-top: 30px;
  font-size: 20px;
  padding-left: 64px;
}

/* ========== ОБ АУКЦИОНЕ ========== */
.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
  padding-top: 120px;
  min-width: 1100px;
}

.about__column__left {
  padding-top: 35px;
  padding-left: 71px;
}

.about__logo {
  width: 240px;
  min-height: 240px;
  background: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  display: block;
  max-width: 148px;
  width: 100%;
}

.about__column__right {
  display: flex;
  flex-direction: column;
  padding-top: 133px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  line-height: 24px;
  max-width: 688px;
}

.about__text p {
  font-size: 20px;
}

/* ========== ПОДВАЛ ========== */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 180px;
  padding-bottom: 82px;
  gap: 20px;
  align-items: start;
  min-width: 1100px;
}

.address__footer {
  justify-self: start;
  margin-left: 50px
}

.address__text__footer {
  max-width: 260px;
}

.footer__menu {
  justify-self: center;
  width: 163px;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-list-item {
  text-align: center;
}

.footer__menu-link {
  font-size: 18px;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-self: end;
  width: 240px;
  margin-right: 50px
}

.footer__social-list-item {
  display: flex;
}

.footer__social-link {
  display: block;
  text-decoration: none;
}

.footer__social-icon {
  display: block;
  width: 48px;
  min-height: 48px;
}